@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #020617;
  color: white;
  font-family: Inter, sans-serif;
}

.gradient-text {
  background: linear-gradient(
    to right,
    #22d3ee,
    #8b5cf6
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.glass {
  backdrop-filter: blur(15px);
  background: rgba(255,255,255,0.08);
  border: 1px solid rgba(255,255,255,0.1);
}